In [1]:
import pandas as pd
database = pd.read_csv("IMDBd.csv")
db = pd.DataFrame(database)
print(database)

    Unnamed: 0                                        Title  Year  Rated  \
0            1                                       Avatar  2009  PG-13
1            2     Pirates of the Caribbean: At World's End  2007  PG-13
2            3                                      Spectre  2015  PG-13
3            4                        The Dark Knight Rises  2012  PG-13
4            5                              The Lone Ranger  2013  PG-13
5            6                                  John Carter  2012  PG-13
6            7                                      Tangled  2010     PG
7            8                                 Spider-Man 3  2007  PG-13
8            9                      Avengers: Age of Ultron  2015  PG-13
9           10                   Captain America: Civil War  2016  PG-13
10          11           Batman v Superman: Dawn of Justice  2016  PG-13
11          12            The Hobbit: An Unexpected Journey  2012  PG-13
12          13       Harry Potter and the Half-Blood Prince  2009     PG
13          14          The Hobbit: The Desolation of Smaug  2013  PG-13
14          15    The Hobbit: The Battle of the Five Armies  2014  PG-13
15          16  Pirates of the Caribbean: On Stranger Tides  2011  PG-13
16          17                             Superman Returns  2006  PG-13
17          18                            Quantum of Solace  2008  PG-13
18          19                                 The Avengers  2012  PG-13
19          20   Pirates of the Caribbean: Dead Man's Chest  2006  PG-13
20          21                                 Man of Steel  2013  PG-13
21          22     The Chronicles of Narnia: Prince Caspian  2008     PG
22          23                       The Amazing Spider-Man  2012  PG-13
23          24                               Jurassic World  2015  PG-13

       Released  Runtime                         Genre  \
0   18 Dec 2009  162 min    Action, Adventure, Fantasy
1   25 May 2007  169 min    Action, Adventure, Fantasy
2   06 Nov 2015  148 min   Action, Adventure, Thriller
3   20 Jul 2012  164 min              Action, Thriller
4   03 Jul 2013  150 min    Action, Adventure, Western
5   09 Mar 2012  132 min     Action, Adventure, Sci-Fi
6   24 Nov 2010  100 min  Animation, Adventure, Comedy
7   04 May 2007  139 min             Action, Adventure
8   01 May 2015  141 min     Action, Adventure, Sci-Fi
9   06 May 2016  147 min     Action, Adventure, Sci-Fi
10  25 Mar 2016  151 min     Action, Adventure, Sci-Fi
11  14 Dec 2012  169 min            Adventure, Fantasy
12  15 Jul 2009  153 min    Adventure, Family, Fantasy
13  13 Dec 2013  161 min            Adventure, Fantasy
14  17 Dec 2014  144 min            Adventure, Fantasy
15  20 May 2011  136 min    Action, Adventure, Fantasy
16  28 Jun 2006  154 min     Action, Adventure, Sci-Fi
17  14 Nov 2008  106 min   Action, Adventure, Thriller
18  04 May 2012  143 min                Action, Sci-Fi
19  07 Jul 2006  151 min    Action, Adventure, Fantasy
20  14 Jun 2013  143 min    Action, Adventure, Fantasy
21  16 May 2008  150 min     Action, Adventure, Family
22  03 Jul 2012  136 min             Action, Adventure
23  12 Jun 2015  124 min     Action, Adventure, Sci-Fi

                      Director  \
0                James Cameron
1               Gore Verbinski
2                   Sam Mendes
3            Christopher Nolan
4               Gore Verbinski
5               Andrew Stanton
6   Nathan Greno, Byron Howard
7                    Sam Raimi
8                  Joss Whedon
9     Anthony Russo, Joe Russo
10                 Zack Snyder
11               Peter Jackson
12                 David Yates
13               Peter Jackson
14               Peter Jackson
15                Rob Marshall
16                Bryan Singer
17                Marc Forster
18                 Joss Whedon
19              Gore Verbinski
20                 Zack Snyder
21              Andrew Adamson
22                   Marc Webb
23             Colin Trevorrow

                                               Writer  \
0                                       James Cameron
1   Ted Elliott, Terry Rossio, Ted Elliott (charac...
2   John Logan (screenplay), Neal Purvis (screenpl...
3   Jonathan Nolan (screenplay), Christopher Nolan...
4   Justin Haythe (screenplay), Ted Elliott (scree...
5   Andrew Stanton (screenplay), Mark Andrews (scr...
6   Dan Fogelman (screenplay), Jacob Grimm (based ...
7   Sam Raimi (screenplay), Ivan Raimi (screenplay...
8   Joss Whedon, Stan Lee (based on the Marvel com...
9   Christopher Markus (screenplay), Stephen McFee...
10  Chris Terrio, David S. Goyer, Bob Kane (Batman...
11  Fran Walsh (screenplay), Philippa Boyens (scre...
12    Steve Kloves (screenplay), J.K. Rowling (novel)
13  Fran Walsh (screenplay), Philippa Boyens (scre...
14  Fran Walsh (screenplay), Philippa Boyens (scre...
15  Ted Elliott (screenplay), Terry Rossio (screen...
16  Michael Dougherty (screenplay), Dan Harris (sc...
17              Paul Haggis, Neal Purvis, Robert Wade
18  Joss Whedon (screenplay), Zak Penn (story), Jo...
19  Ted Elliott, Terry Rossio, Ted Elliott (charac...
20  David S. Goyer (screenplay), David S. Goyer (s...
21  Andrew Adamson (screenplay), Christopher Marku...
22  James Vanderbilt (screenplay), Alvin Sargent (...
23  Rick Jaffa (screenplay), Amanda Silver (screen...

                                               Actors  ... tomatoConsensus  \
0   Sam Worthington, Zoe Saldana, Sigourney Weaver...  ...             NaN
1   Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...  ...             NaN
2   Daniel Craig, Christoph Waltz, Léa Seydoux, Ra...  ...             NaN
3   Christian Bale, Gary Oldman, Tom Hardy, Joseph...  ...             NaN
4   Johnny Depp, Armie Hammer, William Fichtner, T...  ...             NaN
5   Taylor Kitsch, Lynn Collins, Samantha Morton, ...  ...             NaN
6   Mandy Moore, Zachary Levi, Donna Murphy, Ron P...  ...             NaN
7   Tobey Maguire, Kirsten Dunst, James Franco, Th...  ...             NaN
8   Robert Downey Jr., Chris Hemsworth, Mark Ruffa...  ...             NaN
9   Chris Evans, Robert Downey Jr., Scarlett Johan...  ...             NaN
10  Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei...  ...             NaN
11  Ian McKellen, Martin Freeman, Richard Armitage...  ...             NaN
12  Daniel Radcliffe, Michael Gambon, Dave Legeno,...  ...             NaN
13  Ian McKellen, Martin Freeman, Richard Armitage...  ...             NaN
14  Ian McKellen, Martin Freeman, Richard Armitage...  ...             NaN
15  Johnny Depp, Penélope Cruz, Geoffrey Rush, Ian...  ...             NaN
16  Brandon Routh, Kate Bosworth, Kevin Spacey, Ja...  ...             NaN
17  Daniel Craig, Olga Kurylenko, Mathieu Amalric,...  ...             NaN
18  Robert Downey Jr., Chris Evans, Mark Ruffalo, ...  ...             NaN
19  Johnny Depp, Orlando Bloom, Keira Knightley, J...  ...             NaN
20  Henry Cavill, Amy Adams, Michael Shannon, Dian...  ...             NaN
21  Ben Barnes, Georgie Henley, Skandar Keynes, Wi...  ...             NaN
22  Andrew Garfield, Emma Stone, Rhys Ifans, Denis...  ...             NaN
23  Chris Pratt, Bryce Dallas Howard, Irrfan Khan,...  ...             NaN

   tomatoUserMeter tomatoUserRating tomatoUserReviews  \
0              NaN              NaN               NaN
1              NaN              NaN               NaN
2              NaN              NaN               NaN
3              NaN              NaN               NaN
4              NaN              NaN               NaN
5              NaN              NaN               NaN
6              NaN              NaN               NaN
7              NaN              NaN               NaN
8              NaN              NaN               NaN
9              NaN              NaN               NaN
10             NaN              NaN               NaN
11             NaN              NaN               NaN
12             NaN              NaN               NaN
13             NaN              NaN               NaN
14             NaN              NaN               NaN
15             NaN              NaN               NaN
16             NaN              NaN               NaN
17             NaN              NaN               NaN
18             NaN              NaN               NaN
19             NaN              NaN               NaN
20             NaN              NaN               NaN
21             NaN              NaN               NaN
22             NaN              NaN               NaN
23             NaN              NaN               NaN

                                            tomatoURL          DVD  \
0             http://www.rottentomatoes.com/m/avatar/  22 Apr 2010
1   http://www.rottentomatoes.com/m/pirates_of_the...  04 Dec 2007
2       http://www.rottentomatoes.com/m/spectre_2015/  09 Feb 2016
3   http://www.rottentomatoes.com/m/the_dark_knigh...  03 Dec 2012
4    http://www.rottentomatoes.com/m/the_lone_ranger/  17 Dec 2013
5        http://www.rottentomatoes.com/m/john_carter/  05 Jun 2012
6            http://www.rottentomatoes.com/m/tangled/  29 Mar 2011
7        http://www.rottentomatoes.com/m/spiderman_3/  30 Oct 2007
8   http://www.rottentomatoes.com/m/avengers_age_o...  02 Oct 2015
9   http://www.rottentomatoes.com/m/captain_americ...  13 Sep 2016
10  http://www.rottentomatoes.com/m/batman_v_super...  19 Jul 2016
11  http://www.rottentomatoes.com/m/the_hobbit_an_...  19 Mar 2013
12  http://www.rottentomatoes.com/m/harry_potter_a...  08 Dec 2009
13  http://www.rottentomatoes.com/m/the_hobbit_the...  08 Apr 2014
14  http://www.rottentomatoes.com/m/the_hobbit_the...  24 Mar 2015
15  http://www.rottentomatoes.com/m/pirates_of_the...  18 Oct 2011
16  http://www.rottentomatoes.com/m/superman_returns/  28 Nov 2006
17  http://www.rottentomatoes.com/m/quantum_of_sol...  24 Mar 2009
18  http://www.rottentomatoes.com/m/marvels_the_av...  25 Sep 2012
19  http://www.rottentomatoes.com/m/pirates_of_the...  05 Dec 2006
20  http://www.rottentomatoes.com/m/superman_man_o...  12 Nov 2013
21  http://www.rottentomatoes.com/m/chronicles_of_...  02 Dec 2008
22  http://www.rottentomatoes.com/m/the_amazing_sp...  09 Nov 2012
23    http://www.rottentomatoes.com/m/jurassic_world/  20 Oct 2015

       BoxOffice             Production  \
0   $749,700,000       20th Century Fox
1   $309,404,152            Buena Vista
2   $208,777,731          Sony Pictures
3   $448,130,642  Warner Bros. Pictures
4    $89,289,910   Walt Disney Pictures
5    $73,058,679   Walt Disney Pictures
6   $200,803,309   Walt Disney Pictures
7   $336,530,303          Sony Pictures
8   $429,113,729   Walt Disney Pictures
9   $408,080,554   Walt Disney Pictures
10  $293,792,936  Warner Bros. Pictures
11  $303,001,229           Warner Bros.
12  $301,920,409  Warner Bros. Pictures
13  $180,443,783           Warner Bros.
14  $187,747,747           Warner Bros.
15  $241,063,875   Walt Disney Pictures
16  $200,100,000  Warner Bros. Pictures
17  $168,400,000               Sony/MGM
18  $623,279,547   Walt Disney Pictures
19  $423,032,628            Buena Vista
20  $291,021,565  Warner Bros. Pictures
21  $141,614,023   Walt Disney Pictures
22  $262,030,663          Sony Pictures
23  $528,757,749     Universal Pictures

                                              Website Response
0                         http://www.avatarmovie.com/     True
1   http://disney.go.com/disneypictures/pirates/at...     True
2                                 http://www.007.com/     True
3                  http://www.thedarkknightrises.com/     True
4               http://disney.go.com/the-lone-ranger/     True
5                    http://www.johncarterarrives.com     True
6                           http://Disney.com/Tangled     True
7   http://www.sonypictures.com/movies/spiderman3/...     True
8                          http://marvel.com/avengers     True
9              http://marvel.com/captainamerica#/home     True
10            http://www.facebook.com/batmanvsuperman     True
11                http://www.thehobbit.com/index.html     True
12                        http://www.harrypotter.com/     True
13                http://www.thehobbit.com/index.html     True
14                          http://www.thehobbit.com/     True
15                          http://Disney.com/Pirates     True
16                    http://www.supermanreturns.com/     True
17                                http://www.007.com/     True
18                   http://marvel.com/avengers_movie     True
19                          http://pirates.movies.com     True
20                   http://manofsteel.warnerbros.com     True
21                                 http://narnia.com/     True
22           http://www.theamazingspiderman.com/site/     True
23                 http://www.jurassicworldmovie.com/     True

[24 rows x 38 columns]

In [2]:
database.describe()

,Unnamed: 0,Year,Metascore,imdbRating,tomatoMeter,tomatoImage,tomatoRating,tomatoReviews,tomatoFresh,tomatoRotten,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews
count,24.000000,24.000000,24.000000,24.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,12.500000,2011.291667,61.416667,7.187500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,7.071068,3.168859,11.586787,0.639506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,2006.000000,37.000000,6.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,6.750000,2008.750000,54.500000,6.675000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,12.500000,2012.000000,59.500000,7.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,18.250000,2013.250000,69.500000,7.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,24.000000,2016.000000,83.000000,8.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#Sadece istediğimiz sütünları seçerek bunlarala ilişkin değerleri görmek için başlıkları çift köşeli parantez ile yazmamız yeterlidir.
database[['Title','Year']].count()

Title    24
Year     24
dtype: int64

In [4]:
database.mean()
#her ayrı başlığın ortalamasını almak için kullanılır.

Unnamed: 0             12.500000
Year                 2011.291667
Metascore              61.416667
imdbRating              7.187500
tomatoMeter                  NaN
tomatoImage                  NaN
tomatoRating                 NaN
tomatoReviews                NaN
tomatoFresh                  NaN
tomatoRotten                 NaN
tomatoConsensus              NaN
tomatoUserMeter              NaN
tomatoUserRating             NaN
tomatoUserReviews            NaN
Response                1.000000
dtype: float64

In [5]:
database.std()
#Standart sapmasını hesaplamak için kullanılan bir yöntemdir.

Unnamed: 0            7.071068
Year                  3.168859
Metascore            11.586787
imdbRating            0.639506
tomatoMeter                NaN
tomatoImage                NaN
tomatoRating               NaN
tomatoReviews              NaN
tomatoFresh                NaN
tomatoRotten               NaN
tomatoConsensus            NaN
tomatoUserMeter            NaN
tomatoUserRating           NaN
tomatoUserReviews          NaN
Response              0.000000
dtype: float64

In [6]:
database.median()
#ortanca değeri anlamına gelen medyan değeridir.

Unnamed: 0             12.5
Year                 2012.0
Metascore              59.5
imdbRating              7.1
tomatoMeter             NaN
tomatoImage             NaN
tomatoRating            NaN
tomatoReviews           NaN
tomatoFresh             NaN
tomatoRotten            NaN
tomatoConsensus         NaN
tomatoUserMeter         NaN
tomatoUserRating        NaN
tomatoUserReviews       NaN
Response                1.0
dtype: float64

In [7]:
database.quantile(0.25)# Mesela yüzde 25 oranda hesaplama yapmak için kullanılan yöntemdir.
#Yüzdelik dilimi hesaplamak için kullanılan bir yöntemdir.

Unnamed: 0              6.750
Year                 2008.750
Metascore              54.500
imdbRating              6.675
tomatoMeter               NaN
tomatoImage               NaN
tomatoRating              NaN
tomatoReviews             NaN
tomatoFresh               NaN
tomatoRotten              NaN
tomatoConsensus           NaN
tomatoUserMeter           NaN
tomatoUserRating          NaN
tomatoUserReviews         NaN
Response                1.000
Name: 0.25, dtype: float64

In [8]:
database["Year"].max() #Year başlığı altında en fazla olan değer hangisi ise direkt kaşımıza çıkar.

2016

In [9]:
database["Title"].max() #Her harf olarak kullanırsak bu fonks. o zaman  karakter sayısına göre en fazla olanı karşımıza çıkarır.

'The Lone Ranger'

In [10]:
database["DVD"].max()

'30 Oct 2007'

In [11]:
database.mean(axis=0)
# axis= 1 sütun demek 
# axis = 0 ise satır anlamına gelmektedir.

Unnamed: 0             12.500000
Year                 2011.291667
Metascore              61.416667
imdbRating              7.187500
tomatoMeter                  NaN
tomatoImage                  NaN
tomatoRating                 NaN
tomatoReviews                NaN
tomatoFresh                  NaN
tomatoRotten                 NaN
tomatoConsensus              NaN
tomatoUserMeter              NaN
tomatoUserRating             NaN
tomatoUserReviews            NaN
Response                1.000000
dtype: float64

In [12]:
database.mean(axis=1)

0     420.36
1     413.42
2     417.16
3     420.70
4     412.50
5     415.32
6     419.36
7     416.24
8     419.68
9     421.98
10    415.74
11    418.18
12    421.70
13    420.38
14    419.28
15    415.94
16    420.42
17    418.32
18    421.82
19    417.46
20    419.42
21    419.92
22    421.80
23    421.20
dtype: float64

In [13]:
database
#sadece adını bile yazmak csv dosyasını çalıştırır(tabii ki tanımlarsan).

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,...,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,Avatar,2009,PG-13,18 Dec 2009,162 min,"Action, Adventure, Fantasy",James Cameron,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/avatar/,22 Apr 2010,"$749,700,000",20th Century Fox,http://www.avatarmovie.com/,True
1,2,Pirates of the Caribbean: At World's End,2007,PG-13,25 May 2007,169 min,"Action, Adventure, Fantasy",Gore Verbinski,"Ted Elliott, Terry Rossio, Ted Elliott (charac...","Johnny Depp, Geoffrey Rush, Orlando Bloom, Kei...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/pirates_of_the...,04 Dec 2007,"$309,404,152",Buena Vista,http://disney.go.com/disneypictures/pirates/at...,True
2,3,Spectre,2015,PG-13,06 Nov 2015,148 min,"Action, Adventure, Thriller",Sam Mendes,"John Logan (screenplay), Neal Purvis (screenpl...","Daniel Craig, Christoph Waltz, Léa Seydoux, Ra...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/spectre_2015/,09 Feb 2016,"$208,777,731",Sony Pictures,http://www.007.com/,True
3,4,The Dark Knight Rises,2012,PG-13,20 Jul 2012,164 min,"Action, Thriller",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Gary Oldman, Tom Hardy, Joseph...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knigh...,03 Dec 2012,"$448,130,642",Warner Bros. Pictures,http://www.thedarkknightrises.com/,True
4,5,The Lone Ranger,2013,PG-13,03 Jul 2013,150 min,"Action, Adventure, Western",Gore Verbinski,"Justin Haythe (screenplay), Ted Elliott (scree...","Johnny Depp, Armie Hammer, William Fichtner, T...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_lone_ranger/,17 Dec 2013,"$89,289,910",Walt Disney Pictures,http://disney.go.com/the-lone-ranger/,True
5,6,John Carter,2012,PG-13,09 Mar 2012,132 min,"Action, Adventure, Sci-Fi",Andrew Stanton,"Andrew Stanton (screenplay), Mark Andrews (scr...","Taylor Kitsch, Lynn Collins, Samantha Morton, ...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/john_carter/,05 Jun 2012,"$73,058,679",Walt Disney Pictures,http://www.johncarterarrives.com,True
6,7,Tangled,2010,PG,24 Nov 2010,100 min,"Animation, Adventure, Comedy","Nathan Greno, Byron Howard","Dan Fogelman (screenplay), Jacob Grimm (based ...","Mandy Moore, Zachary Levi, Donna Murphy, Ron P...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/tangled/,29 Mar 2011,"$200,803,309",Walt Disney Pictures,http://Disney.com/Tangled,True
7,8,Spider-Man 3,2007,PG-13,04 May 2007,139 min,"Action, Adventure",Sam Raimi,"Sam Raimi (screenplay), Ivan Raimi (screenplay...","Tobey Maguire, Kirsten Dunst, James Franco, Th...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/spiderman_3/,30 Oct 2007,"$336,530,303",Sony Pictures,http://www.sonypictures.com/movies/spiderman3/...,True
8,9,Avengers: Age of Ultron,2015,PG-13,01 May 2015,141 min,"Action, Adventure, Sci-Fi",Joss Whedon,"Joss Whedon, Stan Lee (based on the Marvel com...","Robert Downey Jr., Chris Hemsworth, Mark Ruffa...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/avengers_age_o...,02 Oct 2015,"$429,113,729",Walt Disney Pictures,http://marvel.com/avengers,True
9,10,Captain America: Civil War,2016,PG-13,06 May 2016,147 min,"Action, Adventure, Sci-Fi","Anthony Russo, Joe Russo","Christopher Markus (screenplay), Stephen McFee...","Chris Evans, Robert Downey Jr., Scarlett Johan...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/captain_americ...,13 Sep 2016,"$408,080,554",Walt Disney Pictures,http://marvel.com/captainamerica#/home,True
10,11,Batman v Superman: Dawn of Justice,2016,PG-13,25 Mar 2016,151 min,"Action, Adventure, Sci-Fi",Zack Snyder,"Chris Terrio, David S. Goyer, Bob Kane (Batman...","Ben Affleck, Henry Cavill, Amy Adams, Jesse Ei...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/batman_v_super...,19 Jul 2016,"$293,792,936",Warner Bros. Pictures,http://www.facebook.com/batmanvsuperman,True
11,12,The Hobbit: An Unexpected Journey,2012,PG-13,14 Dec 2012,169 min,"Adventure, Fantasy",Peter Jackson,"Fran Walsh (screenplay), Philippa Boyens (scre...","Ian McKellen, Martin Freeman, Richard Armitage...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_hobbit_an_...,19 Mar 2013,"$303,001,229",Warner Bros.,http://www.thehobbit.com/index.html,True
12,13,Harry Potter and the Half-Blood Prince,2009,PG,15 Jul 2009,153 min,"Adventure, Family, Fantasy",David Yates,"Steve Kloves (screenplay), J.K. Rowling (novel)","Daniel Radcliffe, Michael Gambon, Dave Legeno,...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/harry_potter_a...,08 Dec 2009,"$301,920,409",Warner Bros. Pictures,http://www.harrypotter.com/,True
13,14,The Hobbit: The Desolation of Smaug,2013,PG-13,13 Dec 2013,161 min,"Adventure, Fantasy",Peter Jackson,"Fran Walsh (screenplay), Philippa Boyens (scre...","Ian McKellen, Martin Freeman, Richard Armitage...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_hobbit_the...,08 Apr 2014,"$180,443,783",Warner Bros.,http://www.thehobbit.com/index.html,True
14,15,The Hobbit: The Battle of the Five Armies,2014,PG-13,17 Dec 2014,144 min,"Adventure, Fantasy",Peter Jackson,"Fran Walsh (screenplay), Philippa Boyens (scre...","Ian McKellen, Martin Freeman, Richard Armitage...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_hobbit_the...,24 Mar 2015,"$187,747,747",Warner Bros.,http://www.thehobbit.com/,True
15,16,Pirates of the Caribbean: On Stranger Tides,2011,PG-13,20 May 2011,136 min,"Action, Adventure, Fantasy",Rob Marshall,"Ted Elliott (screenplay), Terry Rossio (screen...","Johnny Depp, Penélope Cruz, Geoffrey Rush, Ian...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/pirates_of_the...,18 Oct 2011,"$241,063,875",Walt Disney Pictures,http://Disney.com/Pirates,True
16,17,Superman Returns,2006,PG-13,28 Jun 2006,154 min,"Action, Adventure, Sci-Fi",Bryan Singer,"Michael Dougherty (screenplay), Dan Harris (sc...","Brandon Routh, Kate Bosworth, Kevin Spacey, Ja...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/superman_returns/,28 Nov 2006,"$200,100,000",Warner Bros. Pictures,http://www.supermanreturns.com/,True
17,18,Quantum of Solace,2008,PG-13,14 Nov 2008,106 min,"Action, Adventure, Thriller",Marc Forster,"Paul Haggis, Neal Purvis, Robert Wade","Daniel Craig, Olga Kurylenko, Mathieu Amalric,...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/quantum_of_sol...,24 Mar 2009,"$168,400,000",Sony/MGM,http://www.007.com/,True
18,19,The Avengers,2012,PG-13,04 May 2012,143 min,"Action, Sci-Fi",Joss Whedon,"Joss Whedon (screenplay), Zak Penn (story), Jo...","Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/marvels_the_av...,25 Sep 2012,"$623,279,547",Walt Disney Pictures,http://marvel.com/avengers_movie,True
19,20,Pirates of the Caribbean: Dead Man's Chest,2006,PG-13,07 Jul 2006,151 min,"Action, Adventure, Fantasy",Gore Verbinski,"Ted Elliott, Terry Rossio, Ted Elliott (charac...","Johnny Depp, Orlando Bloom, Keira Knightley, J...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/pirates_of_the...,05 Dec 2006,"$423,032,628",Buena Vista,http://pirates.movies.com,True
20,21,Man of Steel,2013,PG-13,14 Jun 2013,143 min,"Action, Adventure, Fantasy",Zack Snyder,"David S. Goyer (screenplay), David S. Goyer (s...","Henry Cavill, Amy Adams, Michael Shannon, Dian...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/superman_man_o...,12 Nov 2013,"$291,021,565",Warner Bros. Pictures,http://manofsteel.warnerbros.com,True
21,22,The Chronicles of Narnia: Prince Caspian,2008,PG,16 May 2008,150 min,"Action, Adventure, Family",Andrew Adamson,"Andrew Adamson (screenplay), Christopher Marku...","Ben Barnes, Georgie Henley, Skandar Keynes, Wi...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/chronicles_of_...,02 Dec 2008,"$141,614,023",Walt Disney Pictures,http://narnia.com/,True
22,23,The Amazing Spider-Man,2012,PG-13,03 Jul 2012,136 min,"Action, Adventure",Marc Webb,"James Vanderbilt (screenplay), Alvin Sargent (...","Andrew Garfield, Emma Stone, Rhys Ifans, Denis...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_amazing_sp...,09 Nov 2012,"$262,030,663",Sony Pictures,http://www.theamazingspiderman.com/site/,True
23,24,Jurassic World,2015,PG-13,12 Jun 2015,124 min,"Action, Adventure, Sci-Fi",Colin Trevorrow,"Rick Jaffa (screenplay), Amanda Silver (screen...","Chris Pratt, Bryce Dallas Howard, Irrfan Khan,...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/jurassic_world/,20 Oct 2015,"$528,757,749",Universal Pictures,http://www.jurassicworldmovie.com/,True

In [16]:
database[database['Year']==2015].describe()
#Yıllardan year olsan ve içinde 2015 yıla eşit olan değerin max min std mean count gibi miktarlarını öğrenmke için describe kullanabilirsin.

,Unnamed: 0,Year,Metascore,imdbRating,tomatoMeter,tomatoImage,tomatoRating,tomatoReviews,tomatoFresh,tomatoRotten,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews
count,3.000000,3.0,3.000000,3.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,12.000000,2015.0,61.666667,7.066667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,10.816654,0.0,3.785939,0.305505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,3.000000,2015.0,59.000000,6.800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,6.000000,2015.0,59.500000,6.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,9.000000,2015.0,60.000000,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,16.500000,2015.0,63.000000,7.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,24.000000,2015.0,66.000000,7.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
database[database["Title"]=="Avatar"].mean()
#sadece avatar hakkında bilgi almak istersek bunu kullanırız  mean = hakkında

Unnamed: 0              1.0
Year                 2009.0
Metascore              83.0
imdbRating              7.8
tomatoMeter             NaN
tomatoImage             NaN
tomatoRating            NaN
tomatoReviews           NaN
tomatoFresh             NaN
tomatoRotten            NaN
tomatoConsensus         NaN
tomatoUserMeter         NaN
tomatoUserRating        NaN
tomatoUserReviews       NaN
Response                1.0
dtype: float64

In [24]:
import pandas as pd
import numpy as np

degisken = np.repeat(['A','B','C','D'],[3,3,3,3], axis = 0)
deger = np.random.random(12)
df_dict={'degisken':degisken,'deger':deger}
df = pd.DataFrame(df_dict)
df = df[['degisken','deger']]
print(df)

#Veri cercevelerini gerçekleştirmek için kullanılan bir yöntemdir.

   degisken     deger
0         A  0.276910
1         A  0.215283
2         A  0.858428
3         B  0.477837
4         B  0.865453
5         B  0.738688
6         C  0.783023
7         C  0.618653
8         C  0.325960
9         D  0.325412
10        D  0.163022
11        D  0.372657