In [4]:
import pandas as pd

personeller = pd.read_excel("Çalışan.xlsx") #Biz burda bu dosyayı excel üzerinden elde ettik.

df = pd.DataFrame(personeller)
result = df
print(result)

   Unnamed: 0       Çalışan         Departman  Yaş     Semt  Maaş
0           1  Ahmet Yılmaz       Bilgi İŞlem   30  Kadıköy  5000
1           2    Can Ertürk           Muasebe   25    Tuzla  4200
2           3  Hasan Kokmaz       Bilgi İşlem   32  Maltepe  3000
3           4   Cenk Saymaz  İnsan Kaynakları   31  Kadıköy  5000
4           5     Ali Turan       Bilgi İŞlem   32    Tuzla  4200
5           6   Rıza Ertürk           Muasebe   33  Maltepe  3000
6           7   Mustafa Can       Bilgi İşlem   34  Kadıköy  5000

In [5]:
result = df["Maaş"].sum() #6 kişinin maaş toplamı
print(result)

29400

In [7]:
result = df.groupby("Departman").groups
print(result)

{'Bilgi İŞlem': [0, 4], 'Bilgi İşlem': [2, 6], 'Muasebe': [1, 5], 'İnsan Kaynakları': [3]}

In [8]:
result = df.groupby(["Departman","Semt"]).groups
print(result)

{('Bilgi İŞlem', 'Kadıköy'): [0], ('Bilgi İŞlem', 'Tuzla'): [4], ('Bilgi İşlem', 'Kadıköy'): [6], ('Bilgi İşlem', 'Maltepe'): [2], ('Muasebe', 'Maltepe'): [5], ('Muasebe', 'Tuzla'): [1], ('İnsan Kaynakları', 'Kadıköy'): [3]}

In [11]:
semtler = df.groupby("Semt")

for name, group in semtler:
    print(name)
    print(group)

Kadıköy
   Unnamed: 0       Çalışan         Departman  Yaş     Semt  Maaş
0           1  Ahmet Yılmaz       Bilgi İŞlem   30  Kadıköy  5000
3           4   Cenk Saymaz  İnsan Kaynakları   31  Kadıköy  5000
6           7   Mustafa Can       Bilgi İşlem   34  Kadıköy  5000
Maltepe
   Unnamed: 0       Çalışan    Departman  Yaş     Semt  Maaş
2           3  Hasan Kokmaz  Bilgi İşlem   32  Maltepe  3000
5           6   Rıza Ertürk      Muasebe   33  Maltepe  3000
Tuzla
   Unnamed: 0     Çalışan    Departman  Yaş   Semt  Maaş
1           2  Can Ertürk      Muasebe   25  Tuzla  4200
4           5   Ali Turan  Bilgi İŞlem   32  Tuzla  4200

In [14]:
semtler = df.groupby("Semt")

for name, group in df.groupby("Departman"):
    print(name)
    print(group)

Bilgi İŞlem
   Unnamed: 0       Çalışan    Departman  Yaş     Semt  Maaş
0           1  Ahmet Yılmaz  Bilgi İŞlem   30  Kadıköy  5000
4           5     Ali Turan  Bilgi İŞlem   32    Tuzla  4200
Bilgi İşlem
   Unnamed: 0       Çalışan    Departman  Yaş     Semt  Maaş
2           3  Hasan Kokmaz  Bilgi İşlem   32  Maltepe  3000
6           7   Mustafa Can  Bilgi İşlem   34  Kadıköy  5000
Muasebe
   Unnamed: 0      Çalışan Departman  Yaş     Semt  Maaş
1           2   Can Ertürk   Muasebe   25    Tuzla  4200
5           6  Rıza Ertürk   Muasebe   33  Maltepe  3000
İnsan Kaynakları
   Unnamed: 0      Çalışan         Departman  Yaş     Semt  Maaş
3           4  Cenk Saymaz  İnsan Kaynakları   31  Kadıköy  5000

In [20]:
result = df.groupby("Semt").get_group("Kadıköy")
result = df.groupby("Departman").get_group("Muasebe")
result = df.groupby("Departman").sum()
print(result)

                  Unnamed: 0  Yaş  Maaş
Departman
Bilgi İŞlem                3   31  4600
Bilgi İşlem                5   33  4000
Muasebe                    4   29  3600
İnsan Kaynakları           4   31  5000

In [23]:
result = df.groupby("Departman").mean()
print(result)

                  Unnamed: 0  Yaş  Maaş
Departman
Bilgi İŞlem                3   31  4600
Bilgi İşlem                5   33  4000
Muasebe                    4   29  3600
İnsan Kaynakları           4   31  5000

In [22]:
result = df.groupby("Departman").sum()
print(result)

                  Unnamed: 0  Yaş  Maaş
Departman
Bilgi İŞlem                6   62  9200
Bilgi İşlem               10   66  8000
Muasebe                    8   58  7200
İnsan Kaynakları           4   31  5000

In [24]:
result = df.groupby("Departman")["Maaş"].mean()
print(result)

Departman
Bilgi İŞlem         4600
Bilgi İşlem         4000
Muasebe             3600
İnsan Kaynakları    5000
Name: Maaş, dtype: int64

In [25]:
result = df.groupby("Semt")["Yaş"].mean()
print(result)

Semt
Kadıköy    31.666667
Maltepe    32.500000
Tuzla      28.500000
Name: Yaş, dtype: float64

In [27]:
result = df.groupby("Semt")["Çalışan"].count()
print(result)

Semt
Kadıköy    3
Maltepe    2
Tuzla      2
Name: Çalışan, dtype: int64

In [28]:
result = df.groupby("Departman")["Yaş"].max() #max yaş sınırı kaçtır.
print(result)

Departman
Bilgi İŞlem         32
Bilgi İşlem         34
Muasebe             33
İnsan Kaynakları    31
Name: Yaş, dtype: int64

In [29]:
result = df.groupby("Departman")["Maaş"].min()
print(result)

Departman
Bilgi İŞlem         4200
Bilgi İşlem         3000
Muasebe             3000
İnsan Kaynakları    5000
Name: Maaş, dtype: int64

In [32]:
result = df.groupby("Departman")["Maaş"].max()["Muasebe"]
print(result)

4200

In [33]:
import numpy as np 

result = df.groupby("Departman")["Maaş"].agg([np.sum,np.mean,np.max,np.min])
print(result)

                   sum  mean  amax  amin
Departman
Bilgi İŞlem       9200  4600  5000  4200
Bilgi İşlem       8000  4000  5000  3000
Muasebe           7200  3600  4200  3000
İnsan Kaynakları  5000  5000  5000  5000