In [23]:
import pandas as pd
import numpy as np

data = np.random.randint(10,100,15).reshape(5,3)

df =pd.DataFrame(data, index =['a','b','e','f','h'],columns=['column1','column2','column3'])

df = df.reindex(['a','b','c','d','e','f','g','h'])

result = df
print(result)

   column1  column2  column3
a     86.0     73.0     43.0
b     83.0     12.0     78.0
c      NaN      NaN      NaN
d      NaN      NaN      NaN
e     32.0     21.0     73.0
f     48.0     16.0     25.0
g      NaN      NaN      NaN
h     70.0     86.0     81.0

In [22]:
result = df.drop("column1",axis = 1) #colum 1 ortadan kaldırıyor
print(result)

   column2  column3  Column4
a     19.0     93.0      NaN
b     35.0     41.0     30.0
c      NaN      NaN      NaN
d      NaN      NaN     51.0
e     78.0     13.0      NaN
f     24.0     17.0     40.0
g      NaN      NaN      NaN
h     26.0     30.0     45.0

In [21]:
result = df.drop(["column1","column2"], axis = 1)
print(result)

   column3  Column4
a     93.0      NaN
b     41.0     30.0
c      NaN      NaN
d      NaN     51.0
e     13.0      NaN
f     17.0     40.0
g      NaN      NaN
h     30.0     45.0

In [20]:
result = df.drop('a', axis =0) #a satırı silmekistersek
print(result)  #birçok satır silmek istersen ['a','b','c','d']

   column1  column2  column3  Column4
b     86.0     35.0     41.0     30.0
c      NaN      NaN      NaN      NaN
d      NaN      NaN      NaN     51.0
e     17.0     78.0     13.0      NaN
f     58.0     24.0     17.0     40.0
g      NaN      NaN      NaN      NaN
h     95.0     26.0     30.0     45.0

In [24]:
result = df.isnull()  #değer var ise True yok ise False
print(result)

   column1  column2  column3
a    False    False    False
b    False    False    False
c     True     True     True
d     True     True     True
e    False    False    False
f    False    False    False
g     True     True     True
h    False    False    False

In [18]:
result = df.notnull()  # Tam zıttı değer 
print(result)

   column1  column2  column3  Column4
a     True     True     True    False
b     True     True     True     True
c    False    False    False    False
d    False    False    False     True
e     True     True     True    False
f     True     True     True     True
g    False    False    False    False
h     True     True     True     True

In [26]:
result = df.isnull().sum()  #kaç hata var ise toplar bize bunu gösterir.
print(result)

column1    3
column2    3
column3    3
Column4    4
dtype: int64

In [25]:
newColumn = [np.nan,30,np.nan,51,np.nan,40,np.nan,45] 
df["Column4"]=newColumn
print(df)  #Yeni biir kolon eklemek

   column1  column2  column3  Column4
a     86.0     73.0     43.0      NaN
b     83.0     12.0     78.0     30.0
c      NaN      NaN      NaN      NaN
d      NaN      NaN      NaN     51.0
e     32.0     21.0     73.0      NaN
f     48.0     16.0     25.0     40.0
g      NaN      NaN      NaN      NaN
h     70.0     86.0     81.0     45.0

In [27]:
result = df.dropna() #axis  = 0 =>SATIRA
print(result)

   column1  column2  column3  Column4
b     83.0     12.0     78.0     30.0
f     48.0     16.0     25.0     40.0
h     70.0     86.0     81.0     45.0

In [28]:
result = df.dropna(how = "any")
print(result)

   column1  column2  column3  Column4
b     83.0     12.0     78.0     30.0
f     48.0     16.0     25.0     40.0
h     70.0     86.0     81.0     45.0

In [29]:
result = df.dropna(how = "all")
print(result)

   column1  column2  column3  Column4
a     86.0     73.0     43.0      NaN
b     83.0     12.0     78.0     30.0
d      NaN      NaN      NaN     51.0
e     32.0     21.0     73.0      NaN
f     48.0     16.0     25.0     40.0
h     70.0     86.0     81.0     45.0

In [30]:
result = df.dropna(subset = ["column1","column2"],how="all")
print(result)

   column1  column2  column3  Column4
a     86.0     73.0     43.0      NaN
b     83.0     12.0     78.0     30.0
e     32.0     21.0     73.0      NaN
f     48.0     16.0     25.0     40.0
h     70.0     86.0     81.0     45.0

In [31]:
result = df.dropna(subset = ["column1","column2"],how="any")
print(result)

   column1  column2  column3  Column4
a     86.0     73.0     43.0      NaN
b     83.0     12.0     78.0     30.0
e     32.0     21.0     73.0      NaN
f     48.0     16.0     25.0     40.0
h     70.0     86.0     81.0     45.0

In [32]:
result = df.dropna(thresh =2 )

print(result)

   column1  column2  column3  Column4
a     86.0     73.0     43.0      NaN
b     83.0     12.0     78.0     30.0
e     32.0     21.0     73.0      NaN
f     48.0     16.0     25.0     40.0
h     70.0     86.0     81.0     45.0

In [34]:
result = df.dropna(thresh=3)#en az sayıda veri
print(result)

   column1  column2  column3  Column4
a     86.0     73.0     43.0      NaN
b     83.0     12.0     78.0     30.0
e     32.0     21.0     73.0      NaN
f     48.0     16.0     25.0     40.0
h     70.0     86.0     81.0     45.0

In [36]:
result = df.fillna(value = 1)
print(result)

   column1  column2  column3  Column4
a     86.0     73.0     43.0      1.0
b     83.0     12.0     78.0     30.0
c      1.0      1.0      1.0      1.0
d      1.0      1.0      1.0     51.0
e     32.0     21.0     73.0      1.0
f     48.0     16.0     25.0     40.0
g      1.0      1.0      1.0      1.0
h     70.0     86.0     81.0     45.0

In [37]:
result = df.fillna(value = 'no input')
print(result)

    column1   column2   column3   Column4
a        86        73        43  no input
b        83        12        78        30
c  no input  no input  no input  no input
d  no input  no input  no input        51
e        32        21        73  no input
f        48        16        25        40
g  no input  no input  no input  no input
h        70        86        81        45

In [45]:
result = df.sum().sum() #Bütün elemanların toplamı
result =df.size #eleman sayısı   
def ortalama(df):
    toplam = df.sum().sum()
    adet = df.size- df.isnull().sum().sum()
    return toplam/adet
result = df.fillna(value= ortalama(df))
print(result)

     column1    column2    column3    Column4
a  86.000000  73.000000  43.000000  52.263158
b  83.000000  12.000000  78.000000  30.000000
c  52.263158  52.263158  52.263158  52.263158
d  52.263158  52.263158  52.263158  51.000000
e  32.000000  21.000000  73.000000  52.263158
f  48.000000  16.000000  25.000000  40.000000
g  52.263158  52.263158  52.263158  52.263158
h  70.000000  86.000000  81.000000  45.000000