In [4]:
import pandas as pd

data = pd.read_csv("player_data.csv")
print(data.head(10))
#İlk 10 kişinin verisi

                  name  year_start  year_end position height  weight  \
0       Alaa Abdelnaby        1991      1995      F-C   6-10   240.0
1      Zaid Abdul-Aziz        1969      1978      C-F    6-9   235.0
2  Kareem Abdul-Jabbar        1970      1989        C    7-2   225.0
3   Mahmoud Abdul-Rauf        1991      2001        G    6-1   162.0
4    Tariq Abdul-Wahad        1998      2003        F    6-6   223.0
5  Shareef Abdur-Rahim        1997      2008        F    6-9   225.0
6        Tom Abernethy        1977      1981        F    6-7   220.0
7          Forest Able        1957      1957        G    6-3   180.0
8       John Abramovic        1947      1948        F    6-3   195.0
9         Alex Abrines        2017      2018      G-F    6-6   190.0

          birth_date                                college
0      June 24, 1968                        Duke University
1      April 7, 1946                  Iowa State University
2     April 16, 1947  University of California, Los Angeles
3      March 9, 1969             Louisiana State University
4   November 3, 1974              San Jose State University
5  December 11, 1976               University of California
6        May 6, 1954                     Indiana University
7      July 27, 1932            Western Kentucky University
8   February 9, 1919         Salem International University
9     August 1, 1993                                    NaN

In [5]:
result = len(data.index)#Toplam kaç kişi olduğunu öğrenmek için uygullanır.
print(result)

4550

In [6]:
#Toplam maaş ortalaması hesaplama

result = data["year_start"].mean()
print(result)
#Mesela bizde olmadığı için doğum yıllarını hesapladık ortalama yaş yani

1985.0762637362636

In [8]:
result = data["year_end"].max()
print(result) #yani en yüksek yaş 2018 olduğunu görüyoruz.

2018

In [ ]:
#En yüksek maaş
#result= data["Maaş"].max()

In [12]:
#Kilosu 40 ile 167 arasında olan iki fotoğrafı alın..
result = data[(data["weight"]>=40) & (data["weight"]< 167)][["name","position"]]
print(result)

                    name position
3     Mahmoud Abdul-Rauf        G
20         Michael Adams        G
116       Tiny Archibald        G
142        Chucky Atkins        G
144        Chet Aubuchon        G
...                  ...      ...
4333        D.C. Wilcutt        G
4360    Charles Williams        G
4448         Tony Windis        G
4454        Marv Winkler        G
4503        Larry Wright        G

[121 rows x 2 columns]

In [13]:
result = data[data["weight"]> 40 & (data["weight"]< 167)][["name","position"]]
print(result)

                     name position
0          Alaa Abdelnaby      F-C
1         Zaid Abdul-Aziz      C-F
2     Kareem Abdul-Jabbar        C
3      Mahmoud Abdul-Rauf        G
4       Tariq Abdul-Wahad        F
...                   ...      ...
4545           Ante Zizic      F-C
4546             Jim Zoet        C
4547            Bill Zopf        G
4548          Ivica Zubac        C
4549           Matt Zunic      G-F

[4544 rows x 2 columns]

In [14]:
result =data [data["name"]=="Alaa Abdelnaby"]["position"].iloc[0]
print(result)
# Alaa Abdelnaby adlı kişinin posisyon durumunu öğrenmek istersek kullancağımız yöntem.

F-C