In [1]:
import pandas as pd

import numpy as np

data = np.random.randint(10,100,75).reshape(15,5)

df =pd.DataFrame(data, columns=["Column1","Column2","Column3","Column4","Column5",]) #Column değerini vermeyi unutma
result =df

print(result)

    Column1  Column2  Column3  Column4  Column5
0        39       70       74       75       23
1        75       47       24       89       34
2        44       88       74       25       20
3        52       61       33       64       84
4        14       56       62       48       23
5        76       36       74       39       86
6        12       59       80       42       70
7        12       14       32       57       65
8        15       25       75       22       79
9        76       61       59       97       80
10       33       88       84       95       26
11       79       74       46       20       18
12       45       41       98       48       58
13       12       26       66       80       54
14       62       55       75       35       39

In [2]:
#örnek verelim içinde csv  columns öğrenmek istiyorum ne yapmalıyım.

result = df.columns
print(result)

Index(['Column1', 'Column2', 'Column3', 'Column4', 'Column5'], dtype='object')

In [3]:
result = df.head(10) #sadece 10 tane satır almak istersek yapmamız gereken
print(result)

   Column1  Column2  Column3  Column4  Column5
0       39       70       74       75       23
1       75       47       24       89       34
2       44       88       74       25       20
3       52       61       33       64       84
4       14       56       62       48       23
5       76       36       74       39       86
6       12       59       80       42       70
7       12       14       32       57       65
8       15       25       75       22       79
9       76       61       59       97       80

In [4]:
result = df.tail() #son 5 satır gelmesini isterek
print(result)

    Column1  Column2  Column3  Column4  Column5
10       33       88       84       95       26
11       79       74       46       20       18
12       45       41       98       48       58
13       12       26       66       80       54
14       62       55       75       35       39

In [21]:
result = df.tail(7) #son 7 
print(result)

    Column1  Column2  Columns3  Columns4  Columns5
8        19       28        46        35        88
9        17       28        26        37        28
10       99       84        67        73        47
11       81       40        74        98        30
12       70       40        81        47        16
13       89       76        49        77        79
14       95       70        81        24        68

In [22]:
result = df["Column1"].head() #daha kolay
print(result)

0    35
1    16
2    15
3    94
4    74
Name: Column1, dtype: int64

In [23]:
result = df.Column1.head() #İstersek böyle de çağırabiliriz.
print(result)

0    35
1    16
2    15
3    94
4    74
Name: Column1, dtype: int64

In [24]:
result = df[["Column1","Column2"]].head()#iki column eklemek stersek ne yapmalıyız.
print(result)

   Column1  Column2
0       35       80
1       16       41
2       15       93
3       94       86
4       74       55

In [25]:
result = df[5:15][["Column1","Column2"]].head()
result = df[5:15][["Column1","Column2"]].tail()
print(result)

    Column1  Column2
10       99       84
11       81       40
12       70       40
13       89       76
14       95       70

In [26]:
result = df > 50
print(result)

    Column1  Column2  Columns3  Columns4  Columns5
0     False     True      True     False      True
1     False    False      True     False      True
2     False     True     False     False     False
3      True     True      True      True     False
4      True     True      True      True      True
5     False     True     False     False     False
6      True    False     False      True      True
7     False     True     False      True      True
8     False    False     False     False      True
9     False    False     False     False     False
10     True     True      True      True     False
11     True    False      True      True     False
12     True    False      True     False     False
13     True     True     False      True      True
14     True     True      True     False      True

In [27]:
result = df[df > 50]
print(result)

    Column1  Column2  Columns3  Columns4  Columns5
0       NaN     80.0      54.0       NaN      87.0
1       NaN      NaN      91.0       NaN      92.0
2       NaN     93.0       NaN       NaN       NaN
3      94.0     86.0      61.0      80.0       NaN
4      74.0     55.0      52.0      85.0      94.0
5       NaN     68.0       NaN       NaN       NaN
6      96.0      NaN       NaN      57.0      59.0
7       NaN     66.0       NaN      59.0      69.0
8       NaN      NaN       NaN       NaN      88.0
9       NaN      NaN       NaN       NaN       NaN
10     99.0     84.0      67.0      73.0       NaN
11     81.0      NaN      74.0      98.0       NaN
12     70.0      NaN      81.0       NaN       NaN
13     89.0     76.0       NaN      77.0      79.0
14     95.0     70.0      81.0       NaN      68.0

In [28]:
result = df[df % 2 ==0]
print(result)

    Column1  Column2  Columns3  Columns4  Columns5
0       NaN     80.0      54.0      36.0       NaN
1      16.0      NaN       NaN      40.0      92.0
2       NaN      NaN      20.0      16.0      18.0
3      94.0     86.0       NaN      80.0      40.0
4      74.0      NaN      52.0       NaN      94.0
5      38.0     68.0       NaN      22.0      44.0
6      96.0      NaN      48.0       NaN       NaN
7       NaN     66.0       NaN       NaN       NaN
8       NaN     28.0      46.0       NaN      88.0
9       NaN     28.0      26.0       NaN      28.0
10      NaN     84.0       NaN       NaN       NaN
11      NaN     40.0      74.0      98.0      30.0
12     70.0     40.0       NaN       NaN      16.0
13      NaN     76.0       NaN       NaN       NaN
14      NaN     70.0       NaN      24.0      68.0

In [30]:
result = df["Column2" ] > 50
print(result)

0      True
1     False
2      True
3      True
4      True
5      True
6     False
7      True
8     False
9     False
10     True
11    False
12    False
13     True
14     True
Name: Column2, dtype: bool

In [31]:
result = df[df["Column1"] > 50 ][["Column1","Column2"]]
print(result)

    Column1  Column2
3        94       86
4        74       55
6        96       19
10       99       84
11       81       40
12       70       40
13       89       76
14       95       70

In [35]:
result = df[(df["Column1"] > 10) & (df["Column1"] <=70)]
print(result)

    Column1  Column2  Columns3  Columns4  Columns5
0        35       80        54        36        87
1        16       41        91        40        92
2        15       93        20        16        18
5        38       68        15        22        44
7        47       66        13        59        69
8        19       28        46        35        88
9        17       28        26        37        28
12       70       40        81        47        16

In [18]:
result = df.query("Column1 >=50") #Burada parantez kullanılıyor...
print(result)

    Column1  Column2  Column3  Column4  Column5
1        75       47       24       89       34
3        52       61       33       64       84
5        76       36       74       39       86
9        76       61       59       97       80
11       79       74       46       20       18
14       62       55       75       35       39