In [6]:
import pandas as pd

s1 = pd.Series([3,2,1,0])
s2 = pd.Series([2,0,9,4])

data = dict(apples = s1 , oranges = s2)

df = pd.DataFrame(data) #aslında en önemli yer burası DataFrame yazarak ekrana yansıtıyoruz.
print(df)

   apples  oranges
0       3        2
1       2        0
2       1        9
3       0        4

In [7]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [8]:
df = pd.DataFrame([1,2,3,4,5])
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [13]:
df = pd.DataFrame([["Ahmet",50],["Barboros",98],["Yağmur",55],["Çilek",67]])#İki kez köşeli parentez alayı sakın unutma

print(df)

          0   1
0     Ahmet  50
1  Barboros  98
2    Yağmur  55
3     Çilek  67

In [11]:
df = pd.DataFrame([["Barboros",98],["Arlin",93]])
print(df)

          0   1
0  Barboros  98
1     Arlin  93

In [18]:
data = [["Ahmet",50],["Barboros",98],["Yağmur",55],["Çilek",67]] 

df = pd.DataFrame(data, index = [1,2,3,4],columns=['name','grade'])
print(df)

       name  grade
1     Ahmet     50
2  Barboros     98
3    Yağmur     55
4     Çilek     67

In [6]:
data = [['baroros',89],['halit',75],['arlin',77]]
df = pd.DataFrame(data,index =[1,2,3],columns=['name','grade'])
print(df)

      name  grade
1  baroros     89
2    halit     75
3    arlin     77

In [20]:
list = [["Ahmet",50],["Barboros",67],["Taritora",70]]
dict = {"Name":["Ahmet","Barboros","Taritora"],"Grade":[50,67,70]}

df = pd.DataFrame(dict,index= ["123","223","653"]) #Öğrenci numaraları

print(df)

         Name  Grade
123     Ahmet     50
223  Barboros     67
653  Taritora     70

In [24]:
dict_list = [
    {"Name":"Ahmet","Grade":100},
    {"Name":"ali","Grade":50},
    {"Name":"aliye","Grade":40},
    {"Name":"yağmur","Grade":90},
            ]
df = pd.DataFrame(dict_list)
print(df)

     Name  Grade
0   Ahmet    100
1     ali     50
2   aliye     40
3  yağmur     90