In [1]:
import pandas as pd

data = pd.read_csv("player_data.csv")
data.dropna(inplace = True)
print(data)

                     name  year_start  year_end position height  weight  \
0          Alaa Abdelnaby        1991      1995      F-C   6-10   240.0
1         Zaid Abdul-Aziz        1969      1978      C-F    6-9   235.0
2     Kareem Abdul-Jabbar        1970      1989        C    7-2   225.0
3      Mahmoud Abdul-Rauf        1991      2001        G    6-1   162.0
4       Tariq Abdul-Wahad        1998      2003        F    6-6   223.0
...                   ...         ...       ...      ...    ...     ...
4542    Derrick Zimmerman        2006      2006        G    6-3   195.0
4543    Stephen Zimmerman        2017      2017        C    7-0   240.0
4546             Jim Zoet        1983      1983        C    7-1   240.0
4547            Bill Zopf        1971      1971        G    6-1   170.0
4549           Matt Zunic        1949      1949      G-F    6-3   195.0

             birth_date                                college
0         June 24, 1968                        Duke University
1         April 7, 1946                  Iowa State University
2        April 16, 1947  University of California, Los Angeles
3         March 9, 1969             Louisiana State University
4      November 3, 1974              San Jose State University
...                 ...                                    ...
4542   December 2, 1981           Mississippi State University
4543  September 9, 1996        University of Nevada, Las Vegas
4546  December 20, 1953                  Kent State University
4547       June 7, 1948                    Duquesne University
4549  December 19, 1919           George Washington University

[4213 rows x 8 columns]

In [39]:
print(data.columns)

Index(['name', 'year_start', 'year_end', 'position', 'height', 'weight',
       'birth_date', 'college'],
      dtype='object')

In [2]:
data["name"]= data["name"].str.upper()#Gelen bütün harfleri büyük harf yapar
data["name"]= data["name"].str.lower()#Gelen bütün harlferi küçük harf yapar
print(data.head(10))

                   name  year_start  year_end position height  weight  \
0        alaa abdelnaby        1991      1995      F-C   6-10   240.0
1       zaid abdul-aziz        1969      1978      C-F    6-9   235.0
2   kareem abdul-jabbar        1970      1989        C    7-2   225.0
3    mahmoud abdul-rauf        1991      2001        G    6-1   162.0
4     tariq abdul-wahad        1998      2003        F    6-6   223.0
5   shareef abdur-rahim        1997      2008        F    6-9   225.0
6         tom abernethy        1977      1981        F    6-7   220.0
7           forest able        1957      1957        G    6-3   180.0
8        john abramovic        1947      1948        F    6-3   195.0
10           alex acker        2006      2009        G    6-5   185.0

           birth_date                                college
0       June 24, 1968                        Duke University
1       April 7, 1946                  Iowa State University
2      April 16, 1947  University of California, Los Angeles
3       March 9, 1969             Louisiana State University
4    November 3, 1974              San Jose State University
5   December 11, 1976               University of California
6         May 6, 1954                     Indiana University
7       July 27, 1932            Western Kentucky University
8    February 9, 1919         Salem International University
10   January 21, 1983                  Pepperdine University

In [3]:
#data["index"] =data["name"].str.find('a')
data = data[data.name.str.contains('alaa')] # alaa ismi geçen herkesi liste halinde göstericek
print(data)

             name  year_start  year_end position height  weight  \
0  alaa abdelnaby        1991      1995      F-C   6-10   240.0

      birth_date          college
0  June 24, 1968  Duke University

In [4]:
data = data.height.str.replace('-','/').str.replace('*','-')
print(data)

0    6/10
Name: height, dtype: object

/var/folders/tn/0kn0h9c50d12x3sx_v0jg89w0000gn/T/ipykernel_2338/4247886085.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data = data.height.str.replace('-','/').str.replace('*','-')