In [34]:
import pandas as pd
import numpy as np

data={
    "Columm1": [1,2,3,4,5],
    "Columm2": [1,23,45,66,77],
    "Columm3": ["abc","def","ghj","klm","nop"],

}
df = pd.DataFrame(data)
result = df 
print(result)

   Columm1  Columm2 Columm3
0        1        1     abc
1        2       23     def
2        3       45     ghj
3        4       66     klm
4        5       77     nop

In [35]:
result = df["Columm2"].unique() #Tekralamayan değerleri almak için
print(result)

[ 1 23 45 66 77]

In [10]:
result = df["Columm2"].nunique() #5 tane tekil kolon mevcut
print(result)

5

In [12]:
result = df["Columm2"].value_counts() #columlarda kaç adet olduğunu göremk istersek
print(result)

23    1
77    1
45    1
66    1
1     1
Name: Columm2, dtype: int64

In [13]:
result = df["Columm2"]*2 # coluları tek tek 2 ile çarpmak 
print(result)   #istedğin işlemi yapabilirsin....

0      2
1     46
2     90
3    132
4    154
Name: Columm2, dtype: int64

In [14]:
def kareal(x):
    return x * x     #def fonksyonu kullanark fonksiyonları colum ile kullanark işlem yapabilirsin..
                     
    
result = df["Columm2"].apply(kareal)
print(result)

0       1
1     529
2    2025
3    4356
4    5929
Name: Columm2, dtype: int64

In [15]:
kareal2= lambda x: x*x
result = df["Columm2"].apply(kareal2) # lambda fonk ile de çağırabilirsin
print(result)

0       1
1     529
2    2025
3    4356
4    5929
Name: Columm2, dtype: int64

In [16]:
result = df["Columm2"].apply(len) #len ile sayı adetlerini öğrenebilirsin.
print(result)

TypeError: object of type 'int' has no len()

In [18]:
result =df.columns
print(result)

Index(['Columm1', 'Columm2', 'Columm3'], dtype='object')

In [20]:
result = len(df.columns) #kaç adet olduğunu öğrenmek için
print(result)

3

In [22]:
result = df.index
print(result)

RangeIndex(start=0, stop=5, step=1)

In [23]:
result = len(df.index)
print(result)

5

In [24]:
result = df.info #detaylı bilgi almak için kullanılır
print(result)

<bound method DataFrame.info of    Columm1  Columm2 Columm3
0        1        1     abc
1        2       23     def
2        3       45     ghj
3        4       66     klm
4        5       77     nop>

In [26]:
result = df.sort_values("Columm2") #sıralı bir şekilde gelmesini istiyorsak.
print(result)

   Columm1  Columm2 Columm3
0        1        1     abc
1        2       23     def
2        3       45     ghj
3        4       66     klm
4        5       77     nop

In [27]:
result = df.sort_values("Columm2",ascending=False) #tam tersi sırallamak için
print(result)

   Columm1  Columm2 Columm3
4        5       77     nop
3        4       66     klm
2        3       45     ghj
1        2       23     def
0        1        1     abc